h1 { 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #0000ff;
  text-align: center;
}

h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style:italic;
  text-align:center;
}

p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 30px;

}

img{
  width:160px;
  height:200px;
}

div{
  margin:10px;
  border:10px;
  padding:10px;

}